### Business Case Overview

You're working as a data scientist for a contracting firm that's rapidly expanding. Now that they have their most valuable employee (you!), they need to leverage data to win more contracts. Your firm offers technology and scientific solutions and wants to be competitive in the hiring market. Your principal has two main objectives:

Determine the industry factors that are most important in predicting the salary amounts for these data.
Determine the factors that distinguish job categories and titles from each other. For example, can required skills accurately predict job title?
To limit the scope, your principal has suggested that you focus on data-related job postings, e.g. data scientist, data analyst, research scientist, business intelligence, and any others you might think of. You may also want to decrease the scope by limiting your search to a single region.

Hint: Aggregators like Indeed.com regularly pool job postings from a variety of markets and industries.

Goal: Scrape your own data from a job aggregation tool like Indeed.com in order to collect the data to best answer these two questions.

Directions

In this project you will be leveraging a variety of skills. The first will be to use the web-scraping and/or API techniques you've learned to collect data on data jobs from Indeed.com or another aggregator. Once you have collected and cleaned the data, you will use it to answer the two questions described above.

### QUESTION 1: Factors that impact salary

To predict salary you will be building either a classification or regression model, using features like the location, title, and summary of the job. If framing this as a regression problem, you will be estimating the listed salary amounts. You may instead choose to frame this as a classification problem, in which case you will create labels from these salaries (high vs. low salary, for example) according to thresholds (such as median salary).

You have learned a variety of new skills and models that may be useful for this problem:

* NLP
* Unsupervised learning and dimensionality reduction techniques (PCA, clustering)
* Ensemble methods and decision tree models
* SVM models
* Whatever you decide to use, the most important thing is to justify your choices and interpret your results. Communication of your process is key. Note that most listings DO NOT come with salary information. You'll need to able to extrapolate or predict the expected salaries for these listings.

### QUESTION 2: Factors that distinguish job category

Using the job postings you scraped for part 1 (or potentially new job postings from a second round of scraping), identify features in the data related to job postings that can distinguish job titles from each other. There are a variety of interesting ways you can frame the target variable, for example:

* What components of a job posting distinguish data scientists from other data jobs?
* What features are important for distinguishing junior vs. senior positions?
* Do the requirements for titles vary significantly with industry (e.g. healthcare vs. government)?
* You may end up making multiple classification models to tackle different questions. Be sure to clearly explain your hypotheses and framing, any feature engineering, and what your target variables are. The type of classification model you choose is up to you. Be sure to interpret your results and evaluate your models' performance.

### BONUS PROBLEM

Your boss would rather tell a client incorrectly that they would get a lower salary job than tell a client incorrectly that they would get a high salary job. Adjust one of your models to ease his mind, and explain what it is doing and any tradeoffs. Plot the ROC curve

In [23]:
import pandas as pd
import seaborn as sns
import numpy as np
import re
import matplotlib.pyplot as plt
from textblob import TextBlob
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer, HashingVectorizer
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier
from nltk.corpus import stopwords
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.decomposition import PCA
from sklearn.tree import export_graphviz
from gensim.models import Word2Vec
from sklearn.model_selection import cross_val_score

In [24]:
jobs = pd.read_csv('./data_MCF_combined_1-180.csv')
jobs

,Unnamed: 0,Company,JobTitle,Location,EmploymentType,Seniority,Category,GovSupport,SalaryRange,JobLink,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,0,INTERACTIVE DATA (SINGAPORE) PTE. LTD.,Reference Data Sales Specialist,Central,Permanent ...,Senior Executive,Banking and Finance ...,Government support available,"$60,000to$100,000Annually",/job/4444308b9cdfe083237649bb58399cda,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NTT DATA SINGAPORE PTE. LTD.,Data Analyst,Central,Permanent ...,Senior Executive,Banking and Finance ...,Government support available,"$4,500to$7,000Monthly",/job/1808ee6a1f76b35f3e1fccc2bcbe2f2e,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,CIMB BANK BERHAD,"Head, Data and Information Security",East,Contract,Professional,Banking and Finance ...,Government support available,"$10,000to$11,000Monthly",/job/4eab9054bf3e5af132624759f99a033c,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,AXA DIL@ASIA PTE. LTD.,Data Science Engineer,East,Contract,Professional,Banking and Finance ...,Government support available,"$4,600to$5,600Monthly",/job/6bb5bd34a64c3f119dde566d77cc1976,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,FEHMARN CONSULTING PTE. LTD.,Data Architect,Central,Permanent,Senior Management,Banking and Finance,NaN,"$6,000to$7,500Monthly",/job/31843d4e1f993ad8949d0014d02abf40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,OSIM INTERNATIONAL PTE. LTD.,Data Architect,Central,Permanent,Senior Management,Banking and Finance,Government support available,"$4,700to$7,000Monthly",/job/ff94655ae809d1aa0091b2b801d1589f,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,AXA DIL@ASIA PTE. LTD.,Data Scientist Junior,Central,Full Time,Executive,Banking and Finance ...,Government support available,"$4,600to$5,600Monthly",/job/557127dc1c23f59816f38e0c9c7c4fc3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,JONES LANG LASALLE TECHNOLOGY SERVICES PTE. LTD.,"Senior Manager, Data Governance",Central,Full Time,Executive,Banking and Finance ...,Government support available,"$8,000to$10,000Monthly",/job/ca75f75d752636fe19b0f7b4e0d580c2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,NTUC INCOME INSURANCE CO-OPERATIVE LTD,Senior Data Research Executive,East,Permanent,Professional,Information Technology,NaN,"$4,000to$7,000Monthly",/job/115abfac7a8347ba682c8b116ce59768,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,PROCTER & GAMBLE EUROPE SA SINGAPORE BRANCH,Senior Data Wrangler,East,Permanent,Professional,Information Technology,NaN,"$8,000to$15,000Monthly",/job/d18e1cdd4d80258ca15d53e089660f6a,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,PACIFIC REFRESHMENTS PTE. LTD.,BI Data Engineer,Central,Full Time,Manager,Others,Government support available,"$6,000to$8,500Monthly",/job/6dfbed4c42d83789fbfcb0a6b25d3fa0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,"JPMORGAN CHASE BANK, N.A.","Asset Management, Chief Data Office, Client an...",Central,Full Time,Manager,Others,Government support available,"$7,500to$15,000Monthly",/job/53e2b8c6f414f16aa4084b841b8c874d,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12,SINGAPORE AIRLINES LIMITED,Data Sciences & Analytics Engineer,Central,Full Time,Executive,Banking and Finance ...,NaN,"$4,000to$8,000Monthly",/job/91dfb5cd8304de2a385abcc64d798447,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13,AVIVA ASIA PTE LTD,Enterprise Architect (Data),Central,Full Time,Executive,Banking and Finance ...,Government support available,"$6,300to$10,000Monthly",/job/4db72179aae516103533381b4921cdd7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,SINGAPORE AIRLINES LIMITED,Data Sciences & Analytics Engineer,Central,Permanent,Manager,Information Technology ...,Government support available,"$4,000to$8,000Monthly",/job/91fbe62f6950a8007e1906bb9000baa5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15,RESOURCE SOLUTIONS CONSULTING SINGAPORE PTE. LTD.,Director - Regional Compliance Data Officer,Central,Permanent,Manager,Information Technology ...,Government support available,"$10,000to$20,000Monthly",/job/76373c60ebc522bf70afaf8e5aab484a,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16,AMNET SOUTH EAST ASIA PTE. LTD.,Data Lead,Central,Permanent,Manager ...,Information Technology,Government support available,"$9,000to$12,500Monthly",/job/9c1ff21f78676f85df699f60095ec7a6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,17,CAROUSELL PTE. LTD.,Data Analyst,Central,Permanent,Manager ...,Information Technology,Government support available,"$4,000to$7,000Monthly",/job/214ec7050185f8f6faabd7882b31ab5f,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18,AMAZON WEB SERVICES SINGAPORE PRIVATE LIMITED,Specialist Solutions Architect - Big Data / An...,South,Permanent ...,Manager,Information Technology,NaN,"$15,000to$25,000Monthly",/job/e892c40d7ab774f1e677d692479be914,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19,PAN-ASIA RESOURCES PTE LTD,SAP Data Migration Manager in validated Enviro...,South,Permanent ...,Manager,Information Technology,Government support available,"$12,000to$32,000Monthly",/job/aa7481a8a0f93b799e64dc6c31316017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20,PALO IT SINGAPORE PTE. LTD.,Senior Analytics Manager - Data Scientist,Central,Permanent ...,Professional,Information Technology,Government support available,"$6,000to$12,000Monthly",/job/178657f830098bb410e9dbd55d9fe4e8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,21,"JPMORGAN CHASE BANK, N.A.","Business / Data Analyst, Corporate Technology...",Central,Permanent ...,Professional,Information Technology,Government support available,"$6,000to$12,000Monthly",/job/2b3cb6cd640ed2c087dbd5eb011fe838,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,22,NATIONAL UNIVERSITY OF SINGAPORE,"Senior / Associate Director, Data Architecture",East,Full Time,Executive,Information Technology,Government support available,"$7,000to$9,000Monthly",/job/93a0a5f1ae2896eb4c4fb3a6edf9cc28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,23,ERNST & YOUNG LLP,Data Analytics Lead,East,Full Time,Executive,Information Technology,Government support available,"$6,000to$12,000Monthly",/job/04fcaac1a57e146b5501c69a9df14442,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,24,WORKFORCE SINGAPORE AGENCY,"Senior Manager / Manager, Data Analysis (Stra...",South,Contract ...,Senior Management,Education and Training ...,NaN,Salary undisclosed,/job/414e668412ce27c23c3a85ff2cde9671,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,25,TESCOM (SINGAPORE) SOFTWARE SYSTEMS TESTING PT...,Business / Solution / Application / Data A...,South,Contract ...,Senior Management,Education and Training ...,Government support available,"$4,500to$7,000Monthly",/job/f8116cafe9901fca4cba9601ef6c9ede,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,26,IT CONSULTING SOLUTIONS SINGAPORE PTE. LTD.,Data Architect,Central,Permanent,Manager,Accounting / Auditing / Taxation ...,NaN,"$8,000to$12,000Monthly",/job/8a7619a52701f9262ceaed3d9ab646e6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,27,90 SECONDS INTERNATIONAL PTE. LTD.,Director of Data & Analytics,Central,Permanent,Manager,Accounting / Auditing / Taxation ...,Government support available,"$10,000to$18,000Monthly",/job/6a18a52d4abfdc67eadbc221f8a988ae,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,28,ACCENTURE PTE LTD,Data Scientist,Islandwide,Permanent,Executive,Public / Civil Service,Government support available,"$6,000to$12,000Monthly",/job/e83b986ed40b2903ea4914108ddca23b,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,29,SERVICESOURCE INTERNATIONAL SINGAPORE PTE. LTD.,Data Engineer,Islandwide,Permanent,Executive,Public / Civil Service,Government support available,"$5,000to$7,500Monthly",/job/6bac19ff09b90cc731490a48e7e161ea,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3712,3714,A*STAR RESEARCH ENTITIES,Research Engineer (Visual Intelligence) / I²...,South,Contract ...,Professional,Sciences / Laboratory / R&D,NaN,"$2,500to$5,000Monthly",/job/43e021246e20ed6c18715bf4be8598a5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3713,3715,ARCSTONE PTE. LTD.,Software Developer,South,Contract ...,Professional,Sciences / Laboratory / R&D,Government support available,Salary undisclosed,/job/3e40063f5e503b77d0c1334c7750ebc9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3714,3716,NTT DATA SINGAPORE PTE. LTD.,Data Analyst,South,Contract ...,Professional,Sciences / Laboratory / R&D,Government support available,"$4,500to$7,000Monthly",/job/1808ee6a1f76b35f3e1fccc2bcbe2f2e,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3715,3717,YOJEE PTE. LTD.,Head of Design,South,Contract ...,Professional,Sciences / Laboratory / R&D,NaN,"$8,000to$15,000Monthly",/job/66b6bbe81a01ee483a4038bde70655d3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3716,3718,NANYANG TECHNOLOGICAL UNIVERSITY,Research Associate,South,Contract ...,Professional,Education and Training ...,NaN,"$3,400to$5,000Monthly",/job/af526848889adc985d304f812a6784f9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3717,3719,GFK ASIA PTE LTD,Marketing Science Consultant,South,Contract ...,Professional,Education and Training ...,NaN,"$3,500to$4,500Monthly",/job/ce800a2bce3ba35a55698bb5f6b78add,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3718,3720,THOMSON REUTERS ASIA PTE. LTD.,Content Analyst - Natural Language Processing,South,Full Time,Fresh/entry level,Information Technology,Government support available,"$4,000to$7,000Monthly",/job/94be4455664dc90250b339a161da848d,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3719,3721,FACEBOOK SINGAPORE PTE. LTD.,"Business Integrity Associate, Technical",South,Full Time,Fresh/entry level,Information Technology,NaN,"$6,000to$10,000Monthly",/job/8b311b90317c6d614d228e4431d22313,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3720,3722,NATIONAL UNIVERSITY OF SINGAPORE,Visiting Assistant Professor,Central,Full Time,Fresh/entry level,Information Technology,NaN,"$100,000to$145,000Annually",/job/58e0482e9eb4104f2db06f45384f3dad,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3721,3723,A*STAR RESEARCH ENTITIES,Senior Principal Investigator / Principal In...,Central,Full Time,Fresh/entry level,Information Technology,Government support available,"$7,100to$14,200Monthly",/job/fd65081e8d085db67b2cd463b7c3b5d4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3722,3724,Smart Nation and Digital Government Office,Manager / Senior Manager (Talent and Manpower),Central,Full Time,Professional,Public / Civil Service,NaN,Salary undisclosed,/job/80e32eebfdabdd0017f2fb176fc9a228,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3723,3725,CAPGEMINI SINGAPORE PTE. LTD.,Lead Advanced Analyst,Central,Full Time,Professional,Public / Civil Service,NaN,"$8,000to$11,000Monthly",/job/b6abaea16135383ef6d4275147b23d1d,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3724,3726,TATA CONSULTANCY SERVICES ASIA PACIFIC PTE. LTD.,Chat Bot Developer,East,Contract,Executive,Information Technology,NaN,"$5,000to$7,500Monthly",/job/cdedfd6ff84ceccdc59aef3ed47cb3d3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3725,3727,KKT TECHNOLOGY PTE. LTD.,Data Scientist,East,Contract,Executive,Information Technology,Government support available,"$3,800to$6,200Monthly",/job/c9716fe8ce92156b0f32d2ec5d492fc5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3726,3728,A*STAR RESEARCH ENTITIES,SIgN - Research Fellow (Ren Ee Chee Lab),Central,Contract,Executive ...,Information Technology,Government support available,"$4,500to$9,000Monthly",/job/ce7a2bf297f7bf0f661e9edb5a02e729,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3727,3729,A*STAR RESEARCH ENTITIES,Scientist (Manufacturing Execution and Control...,Central,Contract,Executive ...,Information Technology,NaN,"$4,500to$9,000Monthly",/job/07a11cd843315c9794f25d8d2a24d358,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3728,3730,PACIFIC REFRESHMENTS PTE. LTD.,Data Scientist,South,Full Time,Non-executive,Information Technology,Government support available,"$65,000to$120,000Annually",/job/afeb5d35b520746743710fa3f9a6c0a9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3729,3731,DENTSU AEGIS NETWORK HUB2050,Data Engineer,South,Full Time,Non-executive,Information Technology,NaN,"$4,000to$6,000Monthly",/job/d456ca97b0ae06afa168969d63bab59e,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3730,3732,PRICEWATERHOUSECOOPERS CONSULTING (SINGAPORE) ...,Intelligent Automation - Senior Associate,South,Contract ...,Professional,Sciences / Laboratory / R&D,Government support available,"$5,000to$10,000Monthly",/job/ff03b9dfc3af777d4180026c10906a0b,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3731,3733,PRICEWATERHOUSECOOPERS CONSULTING (SINGAPORE) ...,Intelligent Automation - Associate,South,Contract ...,Professional,Sciences / Laboratory / R&D,Government support available,"$4,000to$8,000Monthly",/job/e959a21e9a3f87e6d9d9e3b0407fd94a,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3732,3734,PRICEWATERHOUSECOOPERS CONSULTING (SINGAPORE) ...,Technology Consulting (Intelligent Automation)...,"South, West",Contract ...,Senior Executive,Sciences / Laboratory / R&D,Government support available,"$6,200to$9,000Monthly",/job/33774aa602e6852cd2f0844e09645c14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3733,3735,DC FRONTIERS PTE. LTD.,Business Development Assistant,"South, West",Contract ...,Senior Executive,Sciences / Laboratory / R&D,NaN,"$1,500to$2,000Monthly",/job/49937144c8362b8846c1dfe5fd01f670,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3734,3736,NANYANG TECHNOLOGICAL UNIVERSITY,Project Officer,Central,Permanent,Fresh/entry level ...,Manufacturing,Government support available,"$3,000to$4,000Monthly",/job/39222233bf5f58ff7966bf0833b153c3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3735,3737,NANYANG TECHNOLOGICAL UNIVERSITY,Research Engineer,Central,Permanent,Fresh/entry level ...,Manufacturing,NaN,"$3,200to$3,800Monthly",/job/b9f4f7584d18a0f176e5f28cef8218b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3736,3738,NANYANG TECHNOLOGICAL UNIVERSITY,Research Associate,Central,Permanent ...,Senior Executive,Engineering ...,NaN,"$3,400to$4,000Monthly",/job/b2eb77d2a738d931c1e12d87a938213a,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3737,3739,NANYANG TECHNOLOGICAL UNIVERSITY,Research Fellow,Central,Permanent ...,Senior Executive,Engineering ...,NaN,"$4,200to$5,000Monthly",/job/a035979f9edfbabcdbc06458d86dc4ee,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3738,3740,NATIONAL UNIVERSITY OF SINGAPORE,Research Fellow (Biochemistry),Central,Permanent,Executive,Consulting,Government support available,"$4,000to$6,000Monthly",/job/5d714b8fbcb18c97f05c2aca195f0622,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3739,3741,GLOBALIZATION PARTNERS PTE. LTD.,Enterprise Account Executive,Central,Permanent,Executive,Consulting,Government support available,"$10,000to$13,000Monthly",/job/c1b601163ea5924f69067582d8788d29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3740,3742,DHL EXPRESS (SINGAPORE) PTE. LTD.,Data Scientist,Central,Permanent,Manager,Consulting,Government support available,"$5,000to$9,000Monthly",/job/4a71c1ab6b75075d26a963da12cc2eef,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3741,3743,NATIONAL UNIVERSITY OF SINGAPORE,Senior Research Fellow,Central,Permanent,Manager,Consulting,NaN,"$6,000to$7,000Monthly",/job/14ac0422e699878e9e4c43d7c26d20ae,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

EDA

1. Summary of the dataframe and remove unneccessary columns
2. Dropped duplicates rows
3. Filling in null values for GovSupport feature
4. Changed all the characters in JobTitle feature to lowercase and
filter the data based on data science related keywords
5. Dropped rows with 'salary undisclosed' in SalaryRange feature
6. Split the variables in salary ranges into minimum salary, maximum
salary and monthly/annually(salary frequency)
7. Create another salary frequency feature to standardize all 
salaries into monthly frequency
8. Create 3 features that has minimum, maximum and average salary
9. Group salaries into 2 categories in SalCategory feature where salaries
that are lower than 6000 is 0 while salaries that are higher than 6000 is 1.

In [25]:
jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3742 entries, 0 to 3741
Data columns (total 32 columns):
Unnamed: 0            3742 non-null int64
Company               3742 non-null object
JobTitle              3742 non-null object
Location              3742 non-null object
EmploymentType        3742 non-null object
Seniority             3742 non-null object
Category              3742 non-null object
GovSupport            1836 non-null object
SalaryRange           3742 non-null object
JobLink               3742 non-null object
PostedDate            3742 non-null object
ClosingDate           3742 non-null object
RoleResponsibility    3742 non-null object
Requirements          3742 non-null object
Unnamed: 14           9 non-null object
Unnamed: 15           3 non-null object
Unnamed: 16           2 non-null object
Unnamed: 17           1 non-null object
Unnamed: 18           1 non-null object
Unnamed: 19           1 non-null object
Unnamed: 20           1 non-null object
Unnamed: 21           1 non-null object
Unnamed: 22           1 non-null object
Unnamed: 23           1 non-null object
Unnamed: 24           1 non-null object
Unnamed: 25           1 non-null object
Unnamed: 26           1 non-null object
Unnamed: 27           1 non-null object
Unnamed: 28           1 non-null object
Unnamed: 29           1 non-null object
Unnamed: 30           1 non-null object
Unnamed: 31           1 non-null object
dtypes: int64(1), object(31)
memory usage: 935.6+ KB

In [26]:
# Removing unnecessary columns
jobs = jobs.iloc[:, 1:14]

In [27]:
# Finding and dropping duplicates
print (jobs.duplicated().value_counts())
jobs.drop_duplicates(keep=False, inplace=True)

False    3737
True        5
dtype: int64

In [28]:
# Finding null values
jobs.isnull().sum()

Company                  0
JobTitle                 0
Location                 0
EmploymentType           0
Seniority                0
Category                 0
GovSupport            1906
SalaryRange              0
JobLink                  0
PostedDate               0
ClosingDate              0
RoleResponsibility       0
Requirements             0
dtype: int64

In [29]:
jobs['JobTitle'] = jobs['JobTitle'].apply(lambda x: x.lower())

jobs = jobs[jobs['JobTitle'].str.contains('data|analy|ai|scientist|architect|engineer')]

In [30]:
drop = jobs[jobs['SalaryRange']=='Salary undisclosed'].index.tolist()
jobs.drop(drop, inplace=True)

In [31]:
jobs['SalaryRange'] = (jobs['SalaryRange'].str.replace('to', ' ').str.replace('$', '').str.replace(',', ''))

In [32]:
salary = []
for a in jobs['SalaryRange']:
    salary.append([a for a in re.split(r'([]A-Z[a-z]*)', a) if a])
    what = []
    for a in salary:
        what.append(a[1])

In [33]:
salary[:4]

[['60000 100000', 'Annually'],
 ['4500 7000', 'Monthly'],
 ['10000 11000', 'Monthly'],
 ['4600 5600', 'Monthly']]

In [34]:
jobs['SalaryRange'] = jobs['SalaryRange'].str.replace('Monthly', '').str.replace('Annually', '').str.split(' ')

In [35]:
jobs['SalaryFreq'] = what

In [36]:
Min = []
Max=[]
for a in jobs['SalaryRange']:
    Min.append(a[0])
    Max.append(a[1])

In [37]:
jobs['Min'], jobs['Max']  = Min, Max

In [38]:
jobs.drop(['SalaryRange'], axis=1, inplace=True)

In [39]:
jobs['Min'] = jobs['Min'].astype('int64')
jobs['Max'] = jobs['Max'].astype('int64')

In [40]:
jobs.loc[jobs['SalaryFreq'] == 'Annually', 'Min'] = jobs['Min']/12
jobs.loc[jobs['SalaryFreq'] == 'Annually', 'Max'] = jobs['Max']/12

In [41]:
jobs['AvgSalary'] = (jobs['Min']+ jobs['Max'])/2

In [42]:
np.median(jobs['AvgSalary'])

6000.0

In [43]:
jobs['SalCategory'] = ''

In [44]:
jobs.loc[jobs['AvgSalary'] < 6000, 'SalCategory'] = 0.0
jobs.loc[jobs['AvgSalary'] >= 6000, 'SalCategory'] = 1.0

In [45]:
jobs['SalCategory'] = jobs['SalCategory'].astype('int64')

In [46]:
jobs

,Company,JobTitle,Location,EmploymentType,Seniority,Category,GovSupport,JobLink,PostedDate,ClosingDate,RoleResponsibility,Requirements,SalaryFreq,Min,Max,AvgSalary,SalCategory
0,INTERACTIVE DATA (SINGAPORE) PTE. LTD.,reference data sales specialist,Central,Permanent ...,Senior Executive,Banking and Finance ...,Government support available,/job/4444308b9cdfe083237649bb58399cda,23 Mar 2018,22 Apr 2018,ICE Data Services are looking for an innovativ...,Excellent knowledge of the Reference Data bus...,Annually,5000.000000,8333.333333,6666.666667,1
1,NTT DATA SINGAPORE PTE. LTD.,data analyst,Central,Permanent ...,Senior Executive,Banking and Finance ...,Government support available,/job/1808ee6a1f76b35f3e1fccc2bcbe2f2e,15 Apr 2018,15 May 2018,Job Duties & responsibilities Develop data mo...,A Bachelor’s degree in Data Scientist or Comp...,Monthly,4500.000000,7000.000000,5750.000000,0
2,CIMB BANK BERHAD,"head, data and information security",East,Contract,Professional,Banking and Finance ...,Government support available,/job/4eab9054bf3e5af132624759f99a033c,03 Apr 2018,03 May 2018,The Role serve as primary custodian across th...,"• Bachelor’s degree or equivalent experience, ...",Monthly,10000.000000,11000.000000,10500.000000,1
3,AXA DIL@ASIA PTE. LTD.,data science engineer,East,Contract,Professional,Banking and Finance ...,Government support available,/job/6bb5bd34a64c3f119dde566d77cc1976,21 Mar 2018,20 Apr 2018,"The AXA Group, a worldwide leader in Insurance...",Successful qualifier of this mission: Technic...,Monthly,4600.000000,5600.000000,5100.000000,0
4,FEHMARN CONSULTING PTE. LTD.,data architect,Central,Permanent,Senior Management,Banking and Finance,NaN,/job/31843d4e1f993ad8949d0014d02abf40,18 Apr 2018,18 May 2018,"Our client, located in Ubi, is looking for a D...",Bachelor's Degree in Computer Science or a re...,Monthly,6000.000000,7500.000000,6750.000000,1
5,OSIM INTERNATIONAL PTE. LTD.,data architect,Central,Permanent,Senior Management,Banking and Finance,Government support available,/job/ff94655ae809d1aa0091b2b801d1589f,03 Apr 2018,03 May 2018,The Data Architect is a newly created position...,Professional skills required: Essential knowl...,Monthly,4700.000000,7000.000000,5850.000000,0
6,AXA DIL@ASIA PTE. LTD.,data scientist junior,Central,Full Time,Executive,Banking and Finance ...,Government support available,/job/557127dc1c23f59816f38e0c9c7c4fc3,21 Mar 2018,20 Apr 2018,"The AXA Group, a worldwide leader in Insurance...",Successful qualifier of this mission: Profes...,Monthly,4600.000000,5600.000000,5100.000000,0
7,JONES LANG LASALLE TECHNOLOGY SERVICES PTE. LTD.,"senior manager, data governance",Central,Full Time,Executive,Banking and Finance ...,Government support available,/job/ca75f75d752636fe19b0f7b4e0d580c2,03 Apr 2018,03 May 2018,"At Jones Lang LaSalle (JLL), we are going thro...",Experience Must have 5+ years of experience i...,Monthly,8000.000000,10000.000000,9000.000000,1
8,NTUC INCOME INSURANCE CO-OPERATIVE LTD,senior data research executive,East,Permanent,Professional,Information Technology,NaN,/job/115abfac7a8347ba682c8b116ce59768,03 Apr 2018,03 May 2018,"As Senior Data Resarch Executive, you will foc...",Degree holder in Data Engineering or Business...,Monthly,4000.000000,7000.000000,5500.000000,0
9,PROCTER & GAMBLE EUROPE SA SINGAPORE BRANCH,senior data wrangler,East,Permanent,Professional,Information Technology,NaN,/job/d18e1cdd4d80258ca15d53e089660f6a,02 Apr 2018,02 May 2018,Information Technology (IT) at Procter & Gambl...,We are looking for leaders who have graduated ...,Monthly,8000.000000,15000.000000,11500.000000,1
10,PACIFIC REFRESHMENTS PTE. LTD.,bi data engineer,Central,Full Time,Manager,Others,Government support available,/job/6dfbed4c42d83789fbfcb0a6b25d3fa0,26 Mar 2018,25 Apr 2018,The Data Engineer’s role is to design and buil...,Job Location: Either Harbour Front or Tuas Ba...,Monthly,6000.000000,8500.000000,7250.000000,1
11,"JPMORGAN CHASE BANK, N.A.","asset management, chief data office, client an...",Central,Full Time,Manager,Others,Government support available,/job/53e2b8c6f414f16aa4084b841b8c874d,12 Apr 2018,12 May 2018,JP Morgan Chase & Co. (NYSE: JPM) is a leading...,Qualifications 5-10 years in Financial Servic...,Monthly,7500.000000,15000.000000,11250.000000,1
12,SINGAPORE AIRLINES LIMITED,data sciences & analytics engineer,Central,Full Time,Executive,Banking and Finance ...,NaN,/job/91dfb5cd8304de2a385abcc64d798447,17 Apr 2018,17 May 2018,SIA has implemented the Enterprise Information...,BS in Computer Science or other related disci...,Monthly,4000.000000,8000.000000,6000.000000,1
13,AVIVA ASIA PTE LTD,enterprise architect (data),Central,Full Time,Executive,Banking and Finance ...,Government support available,/job/4db72179aae516103533381b4921cdd7,12 Apr 2018,12 May 2018,PURPOSE OF THE ROLE Enterprise Architect role...,QUALIFICATIONS Degree in Computer Science / E...,Monthly,6300.000000,10000.000000,8150.000000,1
14,SINGAPORE AIRLINES LIMITED,data sciences & analytics engineer,Central,Permanent,Manager,Information Technology ...,Government support available,/job/91fbe62f6950a8007e1906bb9000baa5,20 Mar 2018,19 Apr 2018,SIA has implemented the Enterprise Information...,BS in Computer Science or other related disci...,Monthly,4000.000000,8000.000000,6000.000000,1
15,RESOURCE SOLUTIONS CONSULTING SINGAPORE PTE. LTD.,director - regional compliance data officer,Central,Permanent,Manager,Information Technology ...,Government support available,/job/76373c60ebc522bf70afaf8e5aab484a,09 Apr 2018,24 Apr 2018,"MUFG Bank, Ltd, a member of Mitsubishi UFJ Fin...",Job requirements include: Project management ...,Monthly,10000.000000,20000.000000,15000.000000,1
16,AMNET SOUTH EAST ASIA PTE. LTD.,data lead,Central,Permanent,Manager ...,Information Technology,Government support available,/job/9c1ff21f78676f85df699f60095ec7a6,20 Mar 2018,19 Apr 2018,AMNET Amnet is the programmatic agency for th...,QUALIFICATIONS & SKILLS BA/BS degree in Stat...,Monthly,9000.000000,12500.000000,10750.000000,1
17,CAROUSELL PTE. LTD.,data analyst,Central,Permanent,Manager ...,Information Technology,Government support available,/job/214ec7050185f8f6faabd7882b31ab5f,26 Mar 2018,25 Apr 2018,Love buying and selling on Carousell? Then mee...,You are: Data-driven and passionate about sol...,Monthly,4000.000000,7000.000000,5500.000000,0
18,AMAZON WEB SERVICES SINGAPORE PRIVATE LIMITED,specialist solutions architect - big data / an...,South,Permanent ...,Manager,Information Technology,NaN,/job/e892c40d7ab774f1e677d692479be914,28 Mar 2018,27 Apr 2018,Are you a Big Data specialist? Do you have Dat...,BASIC QUALIFICATIONS Deep understanding of da...,Monthly,15000.000000,25000.000000,20000.000000,1
19,PAN-ASIA RESOURCES PTE LTD,sap data migration manager in validated enviro...,South,Permanent ...,Manager,Information Technology,Government support available,/job/aa7481a8a0f93b799e64dc6c31316017,22 Mar 2018,21 Apr 2018,"As a Project Lead, your main responsibilities ...",Your skills and qualifications will ideally in...,Monthly,12000.000000,32000.000000,22000.000000,1
20,PALO IT SINGAPORE PTE. LTD.,senior analytics manager - data scientist,Central,Permanent ...,Professional,Information Technology,Government support available,/job/178657f830098bb410e9dbd55d9fe4e8,06 Apr 2018,06 May 2018,Your profile & role on the project YOU: Thriv...,"You hold a Bachelor, Master or PhD degree in...",Monthly,6000.000000,12000.000000,9000.000000,1
21,"JPMORGAN CHASE BANK, N.A.","business / data analyst, corporate technology...",Central,Permanent ...,Professional,Information Technology,Government support available,/job/2b3cb6cd640ed2c087dbd5eb011fe838,09 Apr 2018,09 May 2018,The Corporate Compliance Technology (CCT) orga...,Qualifications 8+ years of Business Analyst ...,Monthly,6000.000000,12000.000000,9000.000000,1
22,NATIONAL UNIVERSITY OF SINGAPORE,"senior / associate director, data architecture",East,Full Time,Executive,Information Technology,Government support available,/job/93a0a5f1ae2896eb4c4fb3a6edf9cc28,03 Apr 2018,03 May 2018,Overall accountable for the definition of NUS...,"Degree in Information Technology, Computer S...",Monthly,7000.000000,9000.000000,8000.000000,1
23,ERNST & YOUNG LLP,data analytics lead,East,Full Time,Executive,Information Technology,Government support available,/job/04fcaac1a57e146b5501c69a9df14442,26 Mar 2018,25 Apr 2018,"EY Assurance group is one of the most trusted,...",To qualify for the role you must have A degre...,Monthly,6000.000000,12000.000000,9000.000000,1
25,TESCOM (SINGAPORE) SOFTWARE SYSTEMS TESTING PT...,business / solution / application / data a...,South,Contract ...,Senior Management,Education and Training ...,Government support available,/job/f8116cafe9901fca4cba9601ef6c9ede,18 Apr 2018,18 May 2018,"A Business Architect is responsible to, Estab...",Tertiary Education in relevant fields is pref...,Monthly,4500.000000,7000.000000,5750.000000,0
26,IT CONSULTING SOLUTIONS SINGAPORE PTE. LTD.,data architect,Central,Permanent,Manager,Accounting / Auditing / Taxation ...,NaN,/job/8a7619a52701f9262ceaed3d9ab646e6,10 Apr 2018,10 May 2018,"We are currently assisting our Client, a well-...",To communicate with chinese speaking stakehol...,Monthly,8000.000000,12000.000000,10000.000000,1
27,90 SECONDS INTERNATIONAL PTE. LTD.,director of data & analytics,Central,Permanent,Manager,Accounting / Auditing / Taxation ...,Government support available,/job/6a18a52d4abfdc67eadbc221f8a988ae,05 Apr 2018,05 May 2018,We are looking for a Director of Data & Analyt...,"Bachelor's degree in Mathematics, Economics, ...",Monthly,10000.000000,18000.000000,14000.000000,1
28,ACCENTURE PTE LTD,data scientist,Islandwide,Permanent,Executive,Public / Civil Service,Government support available,/job/e83b986ed40b2903ea4914108ddca23b,23 Mar 2018,22 Apr 2018,The digital revolution is changing everything....,YOUR EXPERIENCE: Basic Qualifications Degree ...,Monthly,6000.000000,12000.000000,9000.000000,1
29,SERVICESOURCE INTERNATIONAL SINGAPORE PTE. LTD.,data engineer,Islandwide,Permanent,Executive,Public / Civil Service,Government support available,/job/6bac19ff09b90cc731490a48e7e161ea,17 Apr 2018,17 May 2018,The Data Engineer will be responsible for buil...,Qualifications: Bachelor’s degree in Computer...,Monthly,5000.000000,7500.000000,6250.000000,1
30,SKYFY TECHNOLOGY PTE. LTD.,data analyst,East,Full Time,Senior Executive,Information Technology,Government support available,/job/8b19d730887145445ebec224d43f7948,04 Apr 2018,04 May 2018,Data Analyst We are currently looking for a Da...,Requirements: Min. Master’s Degree in Comput...,Monthly,4500.000000,7000.000000,5750.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3683,CHARTERHOUSE PTE. LTD.,data science & analytics,South,Contract ...,Professional,Sciences / Laboratory / R&D,NaN,/job/459fa02e8e307f0624db97bb159494dc,18 Apr 2018,18 May 2018,"With footprints in Asia, Australasia and the M...","On an individual contributor level, we are see...",Monthly,8000.000000,15000.000000,11500.000000,1
3684,A*STAR RESEARCH ENTITIES,senior research engineer (situational awarenes...,Central,Permanent,Professional,Others,NaN,/job/511af40bc8dccd30a0fa987d3330669e,17 Apr 2018,17 May 2018,About the Institute for Infocomm Research (I²R...,"Minimum Bachelor Degree in Computer Science, ...",Monthly,4500.000000,9000.000000,6750.000000,1
3685,A*STAR RESEARCH ENTITIES,scientist (visual intelligence) / i2r (a*star),Central,Permanent,Professional,Others,NaN,/job/4c05ea51cd0e1d02e9410186a395d82b,17 Apr 2018,17 May 2018,About the Institute for Infocomm Research (I²R...,"PhD in Computer Science, Computer Engineering...",Monthly,4500.000000,9000.000000,6750.000000,1
3686,A*STAR RESEARCH ENTITIES,research engineer (data analytics) / i2r (a*...,South,Contract ...,Professional,Sciences / Laboratory / R&D,NaN,/job/ed110406bb041f8021418387dead416f,17 Apr 2018,17 May 2018,About the Institute for Infocomm Research (I²R...,"Minimum Bachelor degree in Computer Science, ...",Monthly,2500.000000,5000.000000,3750.000000,0
3687,PKF-CAP CORPORATE SERVICES PTE. LTD.,database developer,South,Contract ...,Professional,Sciences / Laboratory / R&D,NaN,/job/948b921f38fb2fc46cef6eb6043e7e1b,12 Apr 2018,12 May 2018,Description: Intermediate to advanced profici...,Requirement: Bachelor’s Degree / Master’s Degr...,Monthly,3500.000000,5000.000000,4250.000000,0
3688,MANGOSTEEN BCC PTE. LTD.,back end engineer,South,Contract ...,Professional,Sciences / Laboratory / R&D,Government support available,/job/abb7c48d3f5c0ca8793d17a7f697f848,11 Apr 2018,11 May 2018,Do you enjoy building great products using Nod...,REQUIREMENTS Extensive experience using Pytho...,Monthly,3000.000000,5000.000000,4000.000000,0
3689,NANYANG TECHNOLOGICAL UNIVERSITY,research engineer,South,Contract ...,Professional,Sciences / Laboratory / R&D,Government support available,/job/47decf861d0b0f3c14e086cf43530124,04 Apr 2018,04 May 2018,"Established in 1981, the SCHOOL OF ELECTRICAL ...",Education background/ experience required: B....,Monthly,3200.000000,5500.000000,4350.000000,0
3690,SKYFY TECHNOLOGY PTE. LTD.,data analyst,South,Contract ...,Professional,Sciences / Laboratory / R&D,Government support available,/job/8b19d730887145445ebec224d43f7948,04 Apr 2018,04 May 2018,Data Analyst We are currently looking for a Da...,Requirements: Min. Master’s Degree in Comput...,Monthly,4500.000000,7000.000000,5750.000000,0
3691,NATIONAL UNIVERSITY OF SINGAPORE,research assistant (personalized learning and...,South,Contract ...,Professional,Sciences / Laboratory / R&D,NaN,/job/d242b20b1f36489a1d93eea138a8539c,04 Apr 2018,04 May 2018,The Computer Science Department at National Un...,* An Undergraduate or Masters degree in Comput...,Monthly,3400.000000,4500.000000,3950.000000,0
3693,PROCTER & GAMBLE EUROPE SA SINGAPORE BRANCH,senior data wrangler,Central,Permanent,Executive,Information Technology,NaN,/job/d18e1cdd4d80258ca15d53e089660f6a,02 Apr 2018,02 May 2018,Information Technology (IT) at Procter & Gambl...,We are looking for leaders who have graduated ...,Monthly,8000.000000,15000.000000,11500.000000,1
3694,NCS PTE. LTD.,lead video analytics researcher,Central,Full Time,Non-executive,Banking and Finance ...,NaN,/job/2c9be454a03c5f797d465d8f1c67a6aa,28 Mar 2018,27 Apr 2018,The objective of this position is to increase ...,Qualifications Ph.D / Masters Knowledge an...,Monthly,6500.000000,9500.000000,8000.000000,1
3697,Republic Polytechnic,school of infocomm - research staff (data anal...,West,Contract ...,Executive,Sciences / Laboratory / R&D,No relevant experience required,/job/2dfa82ed3e823b2277f19dbd1538fc5d,23 Jan 2018,31 Dec 2018,Job Responsibilities We are looking for a capa...,-,Monthly,3100.000000,5300.000000,4200.000000,0
3698,MBA MICHAEL BAILEY ASSOCIATES PTE. LTD.,iot architect,North,Full Time,Executive ...,Information Technology,Government support available,/job/02e43868d15f82165ccbaf20d7a77e1d,20 Apr 2018,20 May 2018,"Reporting to Head of Digital, Industrial Autom...",Key requirements include : · Degree / Masters...,Monthly,7000.000000,8000.000000,7500.000000,1
3699,A*STAR RESEARCH ENTITIES,scientist (visual intelligence) / i2r,North,Full Time,Executive ...,Information Technology,NaN,/job/f15a1f4d1a557ca4235c5543232b76bc,20 Apr 2018,20 May 2018,About the Institute for Infocomm Research (I²R...,"PhD in Computer Science, Computer Engineering...",Monthly,4500.000000,9000.000000,6750.000000,1
3704,ASUS GLOBAL PTE. LTD.,ai manager,West,Contract ...,Executive,Sciences / Laboratory / R&D,NaN,/job/1588aaade748f42b11cdd654a8be391f,19 Apr 2018,04 May 2018,• Use machine learning to solve computer visio...,"• Strong project management, leadership, and c...",Monthly,5500.000000,6500.000000,6000.000000,1
3705,RIDIK PTE. LTD.,data scientist,West,Contract ...,Executive,Sciences / Laboratory / R&D,NaN,/job/e10da2f1456765a936d24a517ab56870,19 Apr 2018,19 May 2018,Should have 8 – 12 years of experience manipu...,Experience using statistical computer languag...,Monthly,7000.000000,10000.000000,8500.000000,1
3706,AIQ PTE. LTD.,quality assurance engineer,East,Permanent ...,Manager,Sciences / Laboratory / R&D,NaN,/job/94d8b0fec5f4bd6bd8d4f4f3ff958623,19 Apr 2018,19 May 2018,Key Responsibilities: Review product design ...,Candidate must possess at least Bachelor's De...,Monthly,3000.000000,4000.000000,3500.000000,0
3707,A*STAR RESEARCH ENTITIES,research engineer (human language technologies...,East,Permanent ...,Manager,Sciences / Laboratory / R&D,NaN,/job/d63e7d223f5ca1e71a61f6050bcffc85,17 Apr 2018,17 May 2018,About the Institute for Infocomm Research (I²R...,Minimum Bachelor's degree in computer science...,Monthly,2500.000000,5000.000000,3750.000000,0
3708,A*STAR RESEARCH ENTITIES,scientist (nbt) / i2r (a*star),Islandwide,Permanent ...,Senior Executive,Information Technology,NaN,/job/2f4dae404956bd692752f8684abeed12,17 Apr 2018,17 May 2018,About the Institute for Infocomm Research (I²R...,PhD in Computer Science or Electronics Engine...,Monthly,4500.000000,9000.000000,6750.000000,1
3709,NATIONAL UNIVERSITY OF SINGAPORE,"software engineer / it analyst, next++",Islandwide,Permanent ...,Senior Executive,Information Technology,Government support available,/job/6ffa0c082c96b61d0991b49b674f1b68,17 Apr 2018,17 May 2018,Job description: We are looking for a Data Eng...,Skills and Qualifications Excellent understan...,Monthly,3000.000000,6000.000000,4500.000000,0
3712,A*STAR RESEARCH ENTITIES,research engineer (visual intelligence) / i²...,South,Contract ...,Professional,Sciences / Laboratory / R&D,NaN,/job/43e021246e20ed6c18715bf4be8598a5,16 Apr 2018,16 May 2018,The Institute for Infocomm Research (I²R) is a...,"Minimum Bachelor Degree in Computer Science, ...",Monthly,2500.000000,5000.000000,3750.000000,0
3714,NTT DATA SINGAPORE PTE. LTD.,data analyst,South,Contract ...,Professional,Sciences / Laboratory / R&D,Government support available,/job/1808ee6a1f76b35f3e1fccc2bcbe2f2e,15 Apr 2018,15 May 2018,Job Duties & responsibilities Develop data mo...,A Bachelor’s degree in Data Scientist or Comp...,Monthly,4500.000000,7000.000000,5750.000000,0
3718,THOMSON REUTERS ASIA PTE. LTD.,content analyst - natural language processing,South,Full Time,Fresh/entry level,Information Technology,Government support available,/job/94be4455664dc90250b339a161da848d,11 Apr 2018,11 May 2018,"As a customer-centric organization, we provide...","Technical Skills • Excel VBA • SQL, Elasti...",Monthly,4000.000000,7000.000000,5500.000000,0
3723,CAPGEMINI SINGAPORE PTE. LTD.,lead advanced analyst,Central,Full Time,Professional,Public / Civil Service,NaN,/job/b6abaea16135383ef6d4275147b23d1d,09 Apr 2018,09 May 2018,Primary Responsibilities Lead a team of da...,This role will be for a 12-month contract The...,Monthly,8000.000000,11000.000000,9500.000000,1
3725,KKT TECHNOLOGY PTE. LTD.,data scientist,East,Contract,Executive,Information Technology,Government support available,/job/c9716fe8ce92156b0f32d2ec5d492fc5,09 Apr 2018,09 May 2018,Responsibilities Develop predictive models o...,Requirements Minimum Deep understanding of s...,Monthly,3800.000000,6200.000000,5000.000000,0
3727,A*STAR RESEARCH ENTITIES,scientist (manufacturing execution and control...,Central,Contract,Executive ...,Information Technology,NaN,/job/07a11cd843315c9794f25d8d2a24d358,08 Apr 2018,08 May 2018,About the Singapore Institute of Manufacturing...,"PhD in Computer Science, Computer Engineering...",Monthly,4500.000000,9000.000000,6750.000000,1
3728,PACIFIC REFRESHMENTS PTE. LTD.,data scientist,South,Full Time,Non-executive,Information Technology,Government support available,/job/afeb5d35b520746743710fa3f9a6c0a9,06 Apr 2018,06 May 2018,Key responsibilities: Work with subject matte...,Competencies: Drives Innovative Business Impr...,Annually,5416.666667,10000.000000,7708.333333,1

### Training and testing data

1. X variables consists of text are relevant in determining salaries
2. split data into train and test data

In [47]:
X = (jobs['Location']+ '' +jobs['RoleResponsibility'] + ''+ jobs['Requirements']
          + ''+ jobs['EmploymentType']+ ''+ jobs['Seniority'])
y = jobs['SalCategory']

In [48]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Vectorizing text

In [49]:
cvec = CountVectorizer(stop_words= 'english')

In [50]:
stopwords = list(cvec.get_stop_words())
stopwords

['all',
 'six',
 'less',
 'being',
 'indeed',
 'over',
 'move',
 'anyway',
 'fifty',
 'four',
 'not',
 'own',
 'through',
 'yourselves',
 'go',
 'where',
 'mill',
 'only',
 'find',
 'before',
 'one',
 'whose',
 'system',
 'how',
 'somewhere',
 'with',
 'thick',
 'show',
 'had',
 'enough',
 'should',
 'to',
 'must',
 'whom',
 'seeming',
 'under',
 'ours',
 'has',
 'might',
 'thereafter',
 'latterly',
 'do',
 'them',
 'his',
 'around',
 'than',
 'get',
 'very',
 'de',
 'none',
 'cannot',
 'every',
 'whether',
 'they',
 'front',
 'during',
 'thus',
 'now',
 'him',
 'nor',
 'name',
 'several',
 'hereafter',
 'always',
 'who',
 'cry',
 'whither',
 'this',
 'someone',
 'either',
 'each',
 'become',
 'thereupon',
 'sometime',
 'side',
 'two',
 'therein',
 'twelve',
 'because',
 'often',
 'ten',
 'our',
 'eg',
 'some',
 'back',
 'up',
 'namely',
 'towards',
 'are',
 'further',
 'beyond',
 'ourselves',
 'yet',
 'out',
 'even',
 'will',
 'what',
 'still',
 'for',
 'bottom',
 'mine',
 'since',
 'please',
 'forty',
 'per',
 'its',
 'everything',
 'behind',
 'un',
 'above',
 'between',
 'it',
 'neither',
 'seemed',
 'ever',
 'across',
 'she',
 'somehow',
 'be',
 'we',
 'full',
 'never',
 'sixty',
 'however',
 'here',
 'otherwise',
 'were',
 'whereupon',
 'nowhere',
 'although',
 'found',
 'alone',
 're',
 'along',
 'fifteen',
 'by',
 'both',
 'about',
 'last',
 'would',
 'anything',
 'via',
 'many',
 'could',
 'thence',
 'put',
 'against',
 'keep',
 'etc',
 'amount',
 'became',
 'ltd',
 'hence',
 'onto',
 'or',
 'con',
 'among',
 'already',
 'co',
 'afterwards',
 'formerly',
 'within',
 'seems',
 'into',
 'others',
 'while',
 'whatever',
 'except',
 'down',
 'hers',
 'everyone',
 'done',
 'least',
 'another',
 'whoever',
 'moreover',
 'couldnt',
 'throughout',
 'anyhow',
 'yourself',
 'three',
 'from',
 'her',
 'few',
 'together',
 'top',
 'there',
 'due',
 'been',
 'next',
 'anyone',
 'eleven',
 'much',
 'call',
 'therefore',
 'interest',
 'then',
 'thru',
 'themselves',
 'hundred',
 'was',
 'sincere',
 'empty',
 'more',
 'himself',
 'elsewhere',
 'mostly',
 'on',
 'fire',
 'am',
 'becoming',
 'hereby',
 'amongst',
 'else',
 'part',
 'everywhere',
 'too',
 'herself',
 'former',
 'those',
 'he',
 'me',
 'myself',
 'made',
 'twenty',
 'these',
 'bill',
 'cant',
 'us',
 'until',
 'besides',
 'nevertheless',
 'below',
 'anywhere',
 'nine',
 'can',
 'of',
 'your',
 'toward',
 'my',
 'something',
 'and',
 'whereafter',
 'whenever',
 'give',
 'almost',
 'wherever',
 'is',
 'describe',
 'beforehand',
 'herein',
 'an',
 'as',
 'itself',
 'at',
 'have',
 'in',
 'seem',
 'whence',
 'ie',
 'any',
 'fill',
 'again',
 'hasnt',
 'inc',
 'thereby',
 'thin',
 'no',
 'perhaps',
 'latter',
 'meanwhile',
 'when',
 'detail',
 'same',
 'wherein',
 'beside',
 'also',
 'that',
 'other',
 'take',
 'which',
 'becomes',
 'you',
 'if',
 'nobody',
 'see',
 'though',
 'may',
 'after',
 'upon',
 'most',
 'hereupon',
 'eight',
 'but',
 'serious',
 'nothing',
 'such',
 'why',
 'a',
 'off',
 'whereby',
 'third',
 'i',
 'whole',
 'noone',
 'sometimes',
 'well',
 'amoungst',
 'yours',
 'their',
 'rather',
 'without',
 'so',
 'five',
 'the',
 'first',
 'whereas',
 'once']

In [51]:
stopwords.append('years')
stopwords.append('working')
stopwords.append('provide')
stopwords.append('including')
stopwords.append('responsibilities')
stopwords.append('experience')
stopwords.append('good')
stopwords.append('candidates')
stopwords.append('ability')
stopwords.append('edu')
stopwords.append('visit')

In [52]:
cvec = CountVectorizer(ngram_range=(2,3), stop_words=stopwords, min_df=50)
cvec.fit(X_train)

CountVectorizer(analyzer=u'word', binary=False, decode_error=u'strict',
        dtype=<type 'numpy.int64'>, encoding=u'utf-8', input=u'content',
        lowercase=True, max_df=1.0, max_features=None, min_df=50,
        ngram_range=(2, 3), preprocessor=None,
        stop_words=['all', 'six', 'less', 'being', 'indeed', 'over', 'move', 'anyway', 'fifty', 'four', 'not', 'own', 'through', 'yourselves', 'go', 'where', 'mill', 'only', 'find', 'before', 'one', 'whose', 'system', 'how', 'somewhere', 'with', 'thick', 'show', 'had', 'enough', 'should', 'to', 'must', 'who...de', 'including', 'responsibilities', 'experience', 'good', 'candidates', 'ability', 'edu', 'visit'],
        strip_accents=None, token_pattern=u'(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [53]:
X_train = cvec.transform(X_train)
X_test = cvec.transform(X_test)

In [54]:
Xpd = pd.DataFrame(X_train.todense(), columns=cvec.get_feature_names())

In [55]:
Xpd.sum(axis=0).sort_values(ascending=False)

machine learning                351
computer science                290
communication skills            287
big data                        236
data science                    189
data analytics                  185
problem solving                 184
project management              154
bachelor degree                 144
able work                       140
team player                     140
data analysis                   140
degree computer                 129
degree computer science         117
work independently              114
work closely                    113
software development            101
data center                      98
analytical skills                98
best practices                   97
data management                  94
fast paced                       93
internal external                92
strong analytical                92
end end                          91
entry level                      89
business requirements            88
data mining                      85
large scale                      83
interpersonal skills             80
                               ...
team members                     78
management skills                78
cross functional                 75
skills strong                    74
design development               74
time time                        74
high quality                     72
written communication skills     70
related field                    69
problem solving skills           69
solving skills                   69
information technology           67
added advantage                  67
computer engineering             66
excellent communication          66
shortlisted notified             65
science technology               65
strong knowledge                 65
verbal written                   63
regret shortlisted               63
data driven                      63
ad hoc                           62
state art                        61
written verbal                   61
interpersonal communication      58
technology research              57
design develop                   57
star sg                          56
self motivated                   54
verbal written communication     51
Length: 62, dtype: int64

### Fitting text into logistic regression model

In [56]:
log = LogisticRegression()

log.fit(X_train, y_train)
y_pred_class = log.predict(X_test)

In [57]:
print classification_report(y_test, y_pred_class)
cm = confusion_matrix(y_test, y_pred_class)
print cm

             precision    recall  f1-score   support

          0       0.62      0.69      0.66       146
          1       0.68      0.61      0.64       157

avg / total       0.65      0.65      0.65       303

[[101  45]
 [ 61  96]]

### Fitting text into random forest model

In [58]:
RF_clf = RandomForestClassifier(n_estimators=15)
RF_clf = RF_clf.fit(X_train, y_train)
predicted = RF_clf.predict(X_test)


print classification_report(y_test, predicted)
cm = confusion_matrix(y_test, predicted)
print cm

             precision    recall  f1-score   support

          0       0.63      0.67      0.65       146
          1       0.67      0.63      0.65       157

avg / total       0.65      0.65      0.65       303

[[98 48]
 [58 99]]

## Qn 2

In [59]:
# Concat X variables into the dataframe
jobs['MergedTxt'] = X

In [60]:
jobs

,Company,JobTitle,Location,EmploymentType,Seniority,Category,GovSupport,JobLink,PostedDate,ClosingDate,RoleResponsibility,Requirements,SalaryFreq,Min,Max,AvgSalary,SalCategory,MergedTxt
0,INTERACTIVE DATA (SINGAPORE) PTE. LTD.,reference data sales specialist,Central,Permanent ...,Senior Executive,Banking and Finance ...,Government support available,/job/4444308b9cdfe083237649bb58399cda,23 Mar 2018,22 Apr 2018,ICE Data Services are looking for an innovativ...,Excellent knowledge of the Reference Data bus...,Annually,5000.000000,8333.333333,6666.666667,1,CentralICE Data Services are looking for an in...
1,NTT DATA SINGAPORE PTE. LTD.,data analyst,Central,Permanent ...,Senior Executive,Banking and Finance ...,Government support available,/job/1808ee6a1f76b35f3e1fccc2bcbe2f2e,15 Apr 2018,15 May 2018,Job Duties & responsibilities Develop data mo...,A Bachelor’s degree in Data Scientist or Comp...,Monthly,4500.000000,7000.000000,5750.000000,0,CentralJob Duties & responsibilities Develop ...
2,CIMB BANK BERHAD,"head, data and information security",East,Contract,Professional,Banking and Finance ...,Government support available,/job/4eab9054bf3e5af132624759f99a033c,03 Apr 2018,03 May 2018,The Role serve as primary custodian across th...,"• Bachelor’s degree or equivalent experience, ...",Monthly,10000.000000,11000.000000,10500.000000,1,EastThe Role serve as primary custodian acros...
3,AXA DIL@ASIA PTE. LTD.,data science engineer,East,Contract,Professional,Banking and Finance ...,Government support available,/job/6bb5bd34a64c3f119dde566d77cc1976,21 Mar 2018,20 Apr 2018,"The AXA Group, a worldwide leader in Insurance...",Successful qualifier of this mission: Technic...,Monthly,4600.000000,5600.000000,5100.000000,0,"EastThe AXA Group, a worldwide leader in Insur..."
4,FEHMARN CONSULTING PTE. LTD.,data architect,Central,Permanent,Senior Management,Banking and Finance,NaN,/job/31843d4e1f993ad8949d0014d02abf40,18 Apr 2018,18 May 2018,"Our client, located in Ubi, is looking for a D...",Bachelor's Degree in Computer Science or a re...,Monthly,6000.000000,7500.000000,6750.000000,1,"CentralOur client, located in Ubi, is looking ..."
5,OSIM INTERNATIONAL PTE. LTD.,data architect,Central,Permanent,Senior Management,Banking and Finance,Government support available,/job/ff94655ae809d1aa0091b2b801d1589f,03 Apr 2018,03 May 2018,The Data Architect is a newly created position...,Professional skills required: Essential knowl...,Monthly,4700.000000,7000.000000,5850.000000,0,CentralThe Data Architect is a newly created p...
6,AXA DIL@ASIA PTE. LTD.,data scientist junior,Central,Full Time,Executive,Banking and Finance ...,Government support available,/job/557127dc1c23f59816f38e0c9c7c4fc3,21 Mar 2018,20 Apr 2018,"The AXA Group, a worldwide leader in Insurance...",Successful qualifier of this mission: Profes...,Monthly,4600.000000,5600.000000,5100.000000,0,"CentralThe AXA Group, a worldwide leader in In..."
7,JONES LANG LASALLE TECHNOLOGY SERVICES PTE. LTD.,"senior manager, data governance",Central,Full Time,Executive,Banking and Finance ...,Government support available,/job/ca75f75d752636fe19b0f7b4e0d580c2,03 Apr 2018,03 May 2018,"At Jones Lang LaSalle (JLL), we are going thro...",Experience Must have 5+ years of experience i...,Monthly,8000.000000,10000.000000,9000.000000,1,"CentralAt Jones Lang LaSalle (JLL), we are goi..."
8,NTUC INCOME INSURANCE CO-OPERATIVE LTD,senior data research executive,East,Permanent,Professional,Information Technology,NaN,/job/115abfac7a8347ba682c8b116ce59768,03 Apr 2018,03 May 2018,"As Senior Data Resarch Executive, you will foc...",Degree holder in Data Engineering or Business...,Monthly,4000.000000,7000.000000,5500.000000,0,"EastAs Senior Data Resarch Executive, you will..."
9,PROCTER & GAMBLE EUROPE SA SINGAPORE BRANCH,senior data wrangler,East,Permanent,Professional,Information Technology,NaN,/job/d18e1cdd4d80258ca15d53e089660f6a,02 Apr 2018,02 May 2018,Information Technology (IT) at Procter & Gambl...,We are looking for leaders who have graduated ...,Monthly,8000.000000,15000.000000,11500.000000,1,EastInformation Technology (IT) at Procter & G...
10,PACIFIC REFRESHMENTS PTE. LTD.,bi data engineer,Central,Full Time,Manager,Others,Government support available,/job/6dfbed4c42d83789fbfcb0a6b25d3fa0,26 Mar 2018,25 Apr 2018,The Data Engineer’s role is to design and buil...,Job Location: Either Harbour Front or Tuas Ba...,Monthly,6000.000000,8500.000000,7250.000000,1,CentralThe Data Engineer’s role is to design a...
11,"JPMORGAN CHASE BANK, N.A.","asset management, chief data office, client an...",Central,Full Time,Manager,Others,Government support available,/job/53e2b8c6f414f16aa4084b841b8c874d,12 Apr 2018,12 May 2018,JP Morgan Chase & Co. (NYSE: JPM) is a leading...,Qualifications 5-10 years in Financial Servic...,Monthly,7500.000000,15000.000000,11250.000000,1,CentralJP Morgan Chase & Co. (NYSE: JPM) is a ...
12,SINGAPORE AIRLINES LIMITED,data sciences & analytics engineer,Central,Full Time,Executive,Banking and Finance ...,NaN,/job/91dfb5cd8304de2a385abcc64d798447,17 Apr 2018,17 May 2018,SIA has implemented the Enterprise Information...,BS in Computer Science or other related disci...,Monthly,4000.000000,8000.000000,6000.000000,1,CentralSIA has implemented the Enterprise Info...
13,AVIVA ASIA PTE LTD,enterprise architect (data),Central,Full Time,Executive,Banking and Finance ...,Government support available,/job/4db72179aae516103533381b4921cdd7,12 Apr 2018,12 May 2018,PURPOSE OF THE ROLE Enterprise Architect role...,QUALIFICATIONS Degree in Computer Science / E...,Monthly,6300.000000,10000.000000,8150.000000,1,CentralPURPOSE OF THE ROLE Enterprise Archite...
14,SINGAPORE AIRLINES LIMITED,data sciences & analytics engineer,Central,Permanent,Manager,Information Technology ...,Government support available,/job/91fbe62f6950a8007e1906bb9000baa5,20 Mar 2018,19 Apr 2018,SIA has implemented the Enterprise Information...,BS in Computer Science or other related disci...,Monthly,4000.000000,8000.000000,6000.000000,1,CentralSIA has implemented the Enterprise Info...
15,RESOURCE SOLUTIONS CONSULTING SINGAPORE PTE. LTD.,director - regional compliance data officer,Central,Permanent,Manager,Information Technology ...,Government support available,/job/76373c60ebc522bf70afaf8e5aab484a,09 Apr 2018,24 Apr 2018,"MUFG Bank, Ltd, a member of Mitsubishi UFJ Fin...",Job requirements include: Project management ...,Monthly,10000.000000,20000.000000,15000.000000,1,"CentralMUFG Bank, Ltd, a member of Mitsubishi ..."
16,AMNET SOUTH EAST ASIA PTE. LTD.,data lead,Central,Permanent,Manager ...,Information Technology,Government support available,/job/9c1ff21f78676f85df699f60095ec7a6,20 Mar 2018,19 Apr 2018,AMNET Amnet is the programmatic agency for th...,QUALIFICATIONS & SKILLS BA/BS degree in Stat...,Monthly,9000.000000,12500.000000,10750.000000,1,CentralAMNET Amnet is the programmatic agency...
17,CAROUSELL PTE. LTD.,data analyst,Central,Permanent,Manager ...,Information Technology,Government support available,/job/214ec7050185f8f6faabd7882b31ab5f,26 Mar 2018,25 Apr 2018,Love buying and selling on Carousell? Then mee...,You are: Data-driven and passionate about sol...,Monthly,4000.000000,7000.000000,5500.000000,0,CentralLove buying and selling on Carousell? T...
18,AMAZON WEB SERVICES SINGAPORE PRIVATE LIMITED,specialist solutions architect - big data / an...,South,Permanent ...,Manager,Information Technology,NaN,/job/e892c40d7ab774f1e677d692479be914,28 Mar 2018,27 Apr 2018,Are you a Big Data specialist? Do you have Dat...,BASIC QUALIFICATIONS Deep understanding of da...,Monthly,15000.000000,25000.000000,20000.000000,1,SouthAre you a Big Data specialist? Do you hav...
19,PAN-ASIA RESOURCES PTE LTD,sap data migration manager in validated enviro...,South,Permanent ...,Manager,Information Technology,Government support available,/job/aa7481a8a0f93b799e64dc6c31316017,22 Mar 2018,21 Apr 2018,"As a Project Lead, your main responsibilities ...",Your skills and qualifications will ideally in...,Monthly,12000.000000,32000.000000,22000.000000,1,"SouthAs a Project Lead, your main responsibili..."
20,PALO IT SINGAPORE PTE. LTD.,senior analytics manager - data scientist,Central,Permanent ...,Professional,Information Technology,Government support available,/job/178657f830098bb410e9dbd55d9fe4e8,06 Apr 2018,06 May 2018,Your profile & role on the project YOU: Thriv...,"You hold a Bachelor, Master or PhD degree in...",Monthly,6000.000000,12000.000000,9000.000000,1,CentralYour profile & role on the project YOU:...
21,"JPMORGAN CHASE BANK, N.A.","business / data analyst, corporate technology...",Central,Permanent ...,Professional,Information Technology,Government support available,/job/2b3cb6cd640ed2c087dbd5eb011fe838,09 Apr 2018,09 May 2018,The Corporate Compliance Technology (CCT) orga...,Qualifications 8+ years of Business Analyst ...,Monthly,6000.000000,12000.000000,9000.000000,1,CentralThe Corporate Compliance Technology (CC...
22,NATIONAL UNIVERSITY OF SINGAPORE,"senior / associate director, data architecture",East,Full Time,Executive,Information Technology,Government support available,/job/93a0a5f1ae2896eb4c4fb3a6edf9cc28,03 Apr 2018,03 May 2018,Overall accountable for the definition of NUS...,"Degree in Information Technology, Computer S...",Monthly,7000.000000,9000.000000,8000.000000,1,East Overall accountable for the definition of...
23,ERNST & YOUNG LLP,data analytics lead,East,Full Time,Executive,Information Technology,Government support available,/job/04fcaac1a57e146b5501c69a9df14442,26 Mar 2018,25 Apr 2018,"EY Assurance group is one of the most trusted,...",To qualify for the role you must have A degre...,Monthly,6000.000000,12000.000000,9000.000000,1,EastEY Assurance group is one of the most trus...
25,TESCOM (SINGAPORE) SOFTWARE SYSTEMS TESTING PT...,business / solution / application / data a...,South,Contract ...,Senior Management,Education and Training ...,Government support available,/job/f8116cafe9901fca4cba9601ef6c9ede,18 Apr 2018,18 May 2018,"A Business Architect is responsible to, Estab...",Tertiary Education in relevant fields is pref...,Monthly,4500.000000,7000.000000,5750.000000,0,"SouthA Business Architect is responsible to, ..."
26,IT CONSULTING SOLUTIONS SINGAPORE PTE. LTD.,data architect,Central,Permanent,Manager,Accounting / Auditing / Taxation ...,NaN,/job/8a7619a52701f9262ceaed3d9ab646e6,10 Apr 2018,10 May 2018,"We are currently assisting our Client, a well-...",To communicate with chinese speaking stakehol...,Monthly,8000.000000,12000.000000,10000.000000,1,"CentralWe are currently assisting our Client, ..."
27,90 SECONDS INTERNATIONAL PTE. LTD.,director of data & analytics,Central,Permanent,Manager,Accounting / Auditing / Taxation ...,Government support available,/job/6a18a52d4abfdc67eadbc221f8a988ae,05 Apr 2018,05 May 2018,We are looking for a Director of Data & Analyt...,"Bachelor's degree in Mathematics, Economics, ...",Monthly,10000.000000,18000.000000,14000.000000,1,CentralWe are looking for a Director of Data &...
28,ACCENTURE PTE LTD,data scientist,Islandwide,Permanent,Executive,Public / Civil Service,Government support available,/job/e83b986ed40b2903ea4914108ddca23b,23 Mar 2018,22 Apr 2018,The digital revolution is changing everything....,YOUR EXPERIENCE: Basic Qualifications Degree ...,Monthly,6000.000000,12000.000000,9000.000000,1,IslandwideThe digital revolution is changing e...
29,SERVICESOURCE INTERNATIONAL SINGAPORE PTE. LTD.,data engineer,Islandwide,Permanent,Executive,Public / Civil Service,Government support available,/job/6bac19ff09b90cc731490a48e7e161ea,17 Apr 2018,17 May 2018,The Data Engineer will be responsible for buil...,Qualifications: Bachelor’s degree in Computer...,Monthly,5000.000000,7500.000000,6250.000000,1,IslandwideThe Data Engineer will be responsibl...
30,SKYFY TECHNOLOGY PTE. LTD.,data analyst,East,Full Time,Senior Executive,Information Technology,Government support available,/job/8b19d730887145445ebec224d43f7948,04 Apr 2018,04 May 2018,Data Analyst We are currently looking for a Da...,Requirements: Min. Master’s Degree in Comput...,Monthly,4500.000000,7000.000000,5750.000000,0,EastData Analyst We are currently looking for ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3683,CHARTERHOUSE PTE. LTD.,data science & analytics,South,Contract ...,Professional,Sciences / Laboratory / R&D,NaN,/job/459fa02e8e307f0624db97bb159494dc,18 Apr 2018,18 May 2018,"With footprints in Asia, Australasia and the M...","On an individual contributor level, we are see...",Monthly,8000.000000,15000.000000,11500.000000,1,"SouthWith footprints in Asia, Australasia and ..."
3684,A*STAR RESEARCH ENTITIES,senior research engineer (situational awarenes...,Central,Permanent,Professional,Others,NaN,/job/511af40bc8dccd30a0fa987d3330669e,17 Apr 2018,17 May 2018,About the Institute for Infocomm Research (I²R...,"Minimum Bachelor Degree in Computer Science, ...",Monthly,4500.000000,9000.000000,6750.000000,1,CentralAbout the Institute for Infocomm Resear...
3685,A*STAR RESEARCH ENTITIES,scientist (visual intelligence) / i2r (a*star),Central,Permanent,Professional,Others,NaN,/job/4c05ea51cd0e1d02e9410186a395d82b,17 Apr 2018,17 May 2018,About the Institute for Infocomm Research (I²R...,"PhD in Computer Science, Computer Engineering...",Monthly,4500.000000,9000.000000,6750.000000,1,CentralAbout the Institute for Infocomm Resear...
3686,A*STAR RESEARCH ENTITIES,research engineer (data analytics) / i2r (a*...,South,Contract ...,Professional,Sciences / Laboratory / R&D,NaN,/job/ed110406bb041f8021418387dead416f,17 Apr 2018,17 May 2018,About the Institute for Infocomm Research (I²R...,"Minimum Bachelor degree in Computer Science, ...",Monthly,2500.000000,5000.000000,3750.000000,0,SouthAbout the Institute for Infocomm Research...
3687,PKF-CAP CORPORATE SERVICES PTE. LTD.,database developer,South,Contract ...,Professional,Sciences / Laboratory / R&D,NaN,/job/948b921f38fb2fc46cef6eb6043e7e1b,12 Apr 2018,12 May 2018,Description: Intermediate to advanced profici...,Requirement: Bachelor’s Degree / Master’s Degr...,Monthly,3500.000000,5000.000000,4250.000000,0,SouthDescription: Intermediate to advanced pr...
3688,MANGOSTEEN BCC PTE. LTD.,back end engineer,South,Contract ...,Professional,Sciences / Laboratory / R&D,Government support available,/job/abb7c48d3f5c0ca8793d17a7f697f848,11 Apr 2018,11 May 2018,Do you enjoy building great products using Nod...,REQUIREMENTS Extensive experience using Pytho...,Monthly,3000.000000,5000.000000,4000.000000,0,SouthDo you enjoy building great products usin...
3689,NANYANG TECHNOLOGICAL UNIVERSITY,research engineer,South,Contract ...,Professional,Sciences / Laboratory / R&D,Government support available,/job/47decf861d0b0f3c14e086cf43530124,04 Apr 2018,04 May 2018,"Established in 1981, the SCHOOL OF ELECTRICAL ...",Education background/ experience required: B....,Monthly,3200.000000,5500.000000,4350.000000,0,"SouthEstablished in 1981, the SCHOOL OF ELECTR..."
3690,SKYFY TECHNOLOGY PTE. LTD.,data analyst,South,Contract ...,Professional,Sciences / Laboratory / R&D,Government support available,/job/8b19d730887145445ebec224d43f7948,04 Apr 2018,04 May 2018,Data Analyst We are currently looking for a Da...,Requirements: Min. Master’s Degree in Comput...,Monthly,4500.000000,7000.000000,5750.000000,0,SouthData Analyst We are currently looking for...
3691,NATIONAL UNIVERSITY OF SINGAPORE,research assistant (personalized learning and...,South,Contract ...,Professional,Sciences / Laboratory / R&D,NaN,/job/d242b20b1f36489a1d93eea138a8539c,04 Apr 2018,04 May 2018,The Computer Science Department at National Un...,* An Undergraduate or Masters degree in Comput...,Monthly,3400.000000,4500.000000,3950.000000,0,SouthThe Computer Science Department at Nation...
3693,PROCTER & GAMBLE EUROPE SA SINGAPORE BRANCH,senior data wrangler,Central,Permanent,Executive,Information Technology,NaN,/job/d18e1cdd4d80258ca15d53e089660f6a,02 Apr 2018,02 May 2018,Information Technology (IT) at Procter & Gambl...,We are looking for leaders who have graduated ...,Monthly,8000.000000,15000.000000,11500.000000,1,CentralInformation Technology (IT) at Procter ...
3694,NCS PTE. LTD.,lead video analytics researcher,Central,Full Time,Non-executive,Banking and Finance ...,NaN,/job/2c9be454a03c5f797d465d8f1c67a6aa,28 Mar 2018,27 Apr 2018,The objective of this position is to increase ...,Qualifications Ph.D / Masters Knowledge an...,Monthly,6500.000000,9500.000000,8000.000000,1,CentralThe objective of this position is to in...
3697,Republic Polytechnic,school of infocomm - research staff (data anal...,West,Contract ...,Executive,Sciences / Laboratory / R&D,No relevant experience required,/job/2dfa82ed3e823b2277f19dbd1538fc5d,23 Jan 2018,31 Dec 2018,Job Responsibilities We are looking for a capa...,-,Monthly,3100.000000,5300.000000,4200.000000,0,WestJob Responsibilities We are looking for a ...
3698,MBA MICHAEL BAILEY ASSOCIATES PTE. LTD.,iot architect,North,Full Time,Executive ...,Information Technology,Government support available,/job/02e43868d15f82165ccbaf20d7a77e1d,20 Apr 2018,20 May 2018,"Reporting to Head of Digital, Industrial Autom...",Key requirements include : · Degree / Masters...,Monthly,7000.000000,8000.000000,7500.000000,1,"NorthReporting to Head of Digital, Industrial ..."
3699,A*STAR RESEARCH ENTITIES,scientist (visual intelligence) / i2r,North,Full Time,Executive ...,Information Technology,NaN,/job/f15a1f4d1a557ca4235c5543232b76bc,20 Apr 2018,20 May 2018,About the Institute for Infocomm Research (I²R...,"PhD in Computer Science, Computer Engineering...",Monthly,4500.000000,9000.000000,6750.000000,1,NorthAbout the Institute for Infocomm Research...
3704,ASUS GLOBAL PTE. LTD.,ai manager,West,Contract ...,Executive,Sciences / Laboratory / R&D,NaN,/job/1588aaade748f42b11cdd654a8be391f,19 Apr 2018,04 May 2018,• Use machine learning to solve computer visio...,"• Strong project management, leadership, and c...",Monthly,5500.000000,6500.000000,6000.000000,1,West• Use machine learning to solve computer v...
3705,RIDIK PTE. LTD.,data scientist,West,Contract ...,Executive,Sciences / Laboratory / R&D,NaN,/job/e10da2f1456765a936d24a517ab56870,19 Apr 2018,19 May 2018,Should have 8 – 12 years of experience manipu...,Experience using statistical computer languag...,Monthly,7000.000000,10000.000000,8500.000000,1,West Should have 8 – 12 years of experience ma...
3706,AIQ PTE. LTD.,quality assurance engineer,East,Permanent ...,Manager,Sciences / Laboratory / R&D,NaN,/job/94d8b0fec5f4bd6bd8d4f4f3ff958623,19 Apr 2018,19 May 2018,Key Responsibilities: Review product design ...,Candidate must possess at least Bachelor's De...,Monthly,3000.000000,4000.000000,3500.000000,0,East Key Responsibilities: Review product des...
3707,A*STAR RESEARCH ENTITIES,research engineer (human language technologies...,East,Permanent ...,Manager,Sciences / Laboratory / R&D,NaN,/job/d63e7d223f5ca1e71a61f6050bcffc85,17 Apr 2018,17 May 2018,About the Institute for Infocomm Research (I²R...,Minimum Bachelor's degree in computer science...,Monthly,2500.000000,5000.000000,3750.000000,0,EastAbout the Institute for Infocomm Research ...
3708,A*STAR RESEARCH ENTITIES,scientist (nbt) / i2r (a*star),Islandwide,Permanent ...,Senior Executive,Information Technology,NaN,/job/2f4dae404956bd692752f8684abeed12,17 Apr 2018,17 May 2018,About the Institute for Infocomm Research (I²R...,PhD in Computer Science or Electronics Engine...,Monthly,4500.000000,9000.000000,6750.000000,1,IslandwideAbout the Institute for Infocomm Res...
3709,NATIONAL UNIVERSITY OF SINGAPORE,"software engineer / it analyst, next++",Islandwide,Permanent ...,Senior Executive,Information Technology,Government support available,/job/6ffa0c082c96b61d0991b49b674f1b68,17 Apr 2018,17 May 2018,Job description: We are looking for a Data Eng...,Skills and Qualifications Excellent understan...,Monthly,3000.000000,6000.000000,4500.000000,0,IslandwideJob description: We are looking for ...

In [61]:
# Split the data into data scientists jobs and other jobs 

ds = jobs[jobs['JobTitle']=='data scientist']
nds = jobs[jobs['JobTitle']!='data scientist']

In [62]:
Xds = ds['MergedTxt'] 
cvec2 = CountVectorizer(ngram_range=(2,2), stop_words = 'english', min_df=10)
Xds = cvec2.fit_transform(Xds)

In [63]:
# Common words found in data scientist jobs
pd.DataFrame(Xds.todense(), columns=cvec2.get_feature_names()).sum(axis=0).sort_values(ascending=False)

machine learning      60
data science          34
computer science      28
big data              22
data mining           19
data sets             15
experience working    12
dtype: int64

In [69]:
# Common words found in other jobs
Xnds = nds['MergedTxt'] 
cvec2 = CountVectorizer(ngram_range=(2,2), stop_words = 'english', min_df=180)
Xnds = cvec2.fit_transform(Xnds)
pd.DataFrame(Xnds.todense(), columns=cvec2.get_feature_names()).sum(axis=0).sort_values(ascending=False)

machine learning        408
communication skills    382
computer science        361
years experience        359
big data                301
problem solving         248
ability work            232
bachelor degree         201
dtype: int64